{% extends "based.html" %}

{% block title %}About US{% endblock title %}

{% block body %} 
<img src="/static/img/8jpk.png" class="d-block w-100" alt="...">
    <section class="text-center">
        <h1>About Yahya Clothes Center</h1>
        <strong><p>Welcome to Yahya Clothes Center! We are dedicated to providing the best in style and quality.</p></strong>
        <div class="team-section">
            <h2>Meet Our Team</h2>
            <strogn><p>Our team is passionate about delivering top-quality fashion and personalized service.</p></srong>
        </div>
    </section>
</body>
{% endblock body %}