{% extends "based.html" %}

{% block title %}About US{% endblock title %}

{% block body %} 
<img src="/static/img/8jpj().png" class="d-block w-100" alt="...">
    <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h3 class="card-title">About Us</h3>
    <strong><p class="card-text m-3">Welcome to Yahya Clothes Center! We are dedicated to providing the best in style and quality.</p></strong>
    <a href="/" class="btn btn-dark">Return to Home</a>
  </div>
  <div class="card-footer text-body-secondary">
    Made By Muhammad Yahya Rizwan
  </div>
</div>
{% endblock body %}