{% extends "based.html" %}

{% block title %}About US{% endblock title %}

{% block body %} 
<img src="/static/img/9jpk.png" class="d-block w-100" alt="...">
<div class="container mb-3 py-4">
<h1 class="text-center mb-3">About Us</h1>
<h4 class="text-secondry-black">At Yahya Clothes Center, we believe in bringing you style that’s both trendy and timeless. Our collection is crafted for quality, comfort, and elegance to ensure you look and feel your best. Whether it's classic essentials or the latest trends, Yahya Clothes Center is here to elevate your wardrobe. Discover fashion that suits you!</h4>

{% endblock body %}