{% extends "based.html" %}

{% block title %}About US{% endblock title %}

{% block body %} 
    <section class="about-section">
        <h1>About Yahya Clothes Center</h1>
        <p>Welcome to Yahya Clothes Center! We are dedicated to providing the best in style and quality.</p>
        <div class="team-section">
            <h2>Meet Our Team</h2>
            <p>Our team is passionate about delivering top-quality fashion and personalized service.</p>
        </div>
    </section>
</body>
<img src="/static/img/9jpk.png" class="d-block w-100" alt="...">

{% endblock body %}