{% extends "based.html" %}

{% block title %}About US{% endblock title %}

{% block body %} 
<img src="/static/img/9jpk.png" class="d-block w-100" alt="...">
    <div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <h3 class="card-title">About Us</h3>
    <p class="card-text">Welcome to Yahya Clothes Center! We are dedicated to providing the best in style and quality.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>
{% endblock body %}