{% extends "based.html" %}

{% block title %}Conatct US {% endblock title %}

{% block body %}
<img src="/static/img/4jpj.jpg" class="d-block w-100" alt="...">
<div class="container">
<h1 class="text-center">Contact Us</h1>
    <div class="form-floating mb-3">
  <input type="name" class="form-control" id="floatingInputDisabled" placeholder="Enter your Name" >
  <label for="floatingInputDisabled">Name</label>
</div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInputDisabled" placeholder="Enter your email" >
  <label for="floatingInputDisabled">Email address</label>
</div>
<div class="form-floating mb-3">
  <input type="phone2numeric" class="form-control" id="floatingInputDisabled" placeholder="Enter your phone number" >
  <label for="floatingInputDisabled">Phone number</label>
</div>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInputDisabled" placeholder="Enter your email" >
  <label for="floatingInputDisabled">Tell me what you wants to contact for me.</label>
</div>

</div>
</div>

{% endblock body %}